.card-header {
    background-color: rgba(255,204,153,1);
}

#user-card {
    background: rgba(255,204,153,1);
    position: relative;
    top: 0em;
    height: 100%;
    width: 100%;
    text-align: center;
}

#colorThis {
    background-color: white;
    padding: .1em;
}
