.visitCard {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
        "one one two"
        "three four ."
        "three five ."
        ;
    column-gap: .5em;

    box-shadow: grey;
    margin: .5em;
    padding: .5em;
    max-width: 80%;
    min-height: 20em;
    max-height: 20em;
    overflow: auto;
    background-color: white;
}

.visit__date {
    grid-area: one;
    margin: 0;
}

.visit__photo {
    grid-area: three;
}

.visit__cost {
    grid-area: two;
}

.visit__note {
    grid-area: four;
    min-height: 6em;
    max-height: 6em;
    overflow: auto;
    margin: 1.5em;
}

.visit__rating {
    grid-area: five;
    margin: 1.5em;

}

