.formContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:  1fr 1fr 1fr 1fr auto;
  grid-template-areas:
    "chooseClient"
    "dateVisitForm"
    "costVisitForm"
    "noteVisitForm"
    "ratingVisitForm"
    "btn-primary-visit";
  justify-content: center;
  background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
  font-size: 20px;
  padding: 1em;
}

.chooseClient {
  grid-area: chooseClient;
}
.dateVisitForm {
  grid-area: dateVisitForm;
}
.costVisitForm {
  grid-area: costVisitForm;
}
.noteVisitForm {
  grid-area: noteVisitForm;
}
.ratingVisitForm {
  grid-area: ratingVisitForm;
}
.btn-primary-visit {
  grid-area: btn-primary-visit;
  padding: 0.4em;
  margin: 0.5em;
  width: 8em;
  text-align: center;
  border-radius: .4rem;
  
}
.form-group2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "oneVisit twoVisit";
  padding: .25em;
}

label {
  grid-area: oneVisit;
  width:25%;
  margin-right:1em;
  padding-top:0.2em;
}

input {
  grid-area: twoVisit;
  font-family: 'Raleway', sans-serif;
  

}


