.visitList--grid {
    display: grid;
    grid-template-columns: auto auto auto  auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "pageTitle clientCard addVisitBtn ."
        "visitList--list visitList--list visitList--list visitList--list"
        ;
    column-gap: .5em;
    padding: 1em;
}

.pageTitle {
    grid-area: pageTitle;
}
.visitList--clientCard {
    grid-area: clientCard;
}
.addVisitBtn {
    grid-area: addVisitBtn;
}

.visitList--list {
    grid-area: visitList--list;
    padding: 0em 1em 1em 5em;
}
