.visitCard {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "one one two"
        "three four ."
        "three four ."
        "three five ."
        ;

    box-shadow: grey;
    margin: .5em;
    padding: .5em;
    max-width: 55em;
    min-width: 55em;
    min-height: 19em;
    max-height: 19em;
    overflow: auto;
    background-color: white;
    font-size: 18px;
}

.visit__date {
    grid-area: one;
    margin: 0;
    font-size: 20px;
}

.visit__photo {
    grid-area: three;
    
}

.visit__cost {
    grid-area: two;
}

.visit__note {
    grid-area: four;
    min-height: 10em;
    max-height: 10em;
    min-width: 30em;
    max-width: 30em;
    overflow: auto;
    margin: 1.5em;
    line-height: 1.3em;
}

.visit__rating {
    grid-area: five;
    margin: 1.5em;

}

