.formContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:  1fr 1fr 1fr 1fr auto;
  grid-template-areas:
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven";
  justify-content: center;
  background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
  font-size: 17px;
}

.chooseClient {
  grid-area: two;
}
.dateVisitForm {
  grid-area: three;
}
.costVisitForm {
  grid-area: four;
}
.noteVisitForm {
  grid-area: five;
}
.ratingVisitForm {
  grid-area: six;
}
.btn-primary-visit {
  grid-area: seven;
  padding: 0.4em;
  margin: 0.5em;
  width: 8em;
  text-align: center;
  border-radius: .4rem;
  
}
.form-group2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "one two";
  padding: .25em;
}

label {
  grid-area: one;
  width:25%;
  margin-right:1em;
  padding-top:0.2em;
}

input {
  grid-area: two;
  font-family: 'Raleway', sans-serif;
  

}


