.visitCard {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
        "one one two"
        "three three three"
        "four four four "
        "five five five ";
    column-gap: .5em;

    /* border: .01em solid black; */
    box-shadow: grey;
    margin: .5em;
    padding: .5em;
    max-width: 80%;
    min-height: 5em;
    max-height: 20em;
    overflow: auto;
    background-color: white;
}

.visit__date {
    grid-area: one;
    margin: 0;
}

.visit__photo {
    grid-area: three;
}

.visit__cost {
    grid-area: two;
}

.visit__note {
    grid-area: four;
    min-height: 6em;
    max-height: 6em;
    overflow: auto;
}

.visit__rating {
    grid-area: five;
}

