.visitForm {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-areas: 
     "one"
     "two "
     "three"
     "four"
     "five"
     "six"
     "seven";
     justify-content: center;
}
.visitForm__title {
    grid-area: one;
}
.chooseClient {
    grid-area: two;
}
.dateVisitForm {
    grid-area: three;
}
.costVisitForm {
    grid-area: four;
}
.noteVisitForm {
    grid-area: five;
}
.ratingVisitForm {
    grid-area: six;
}
.btn-primary-visit {
    grid-area: seven;
}