.formContainer1 {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.gridThis {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "one "
    "two"
    "three"
    "four"
    ;
    background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
    font-size: 20px;
    width: 28em;
    height: 14em;
}

.first {
    grid-area: one;
}
.last {
    grid-area: two;
}
.email {
    grid-area: three;
}
.phone {
    grid-area: four;
}
.btn-primary {
    font-size: 16px;
    padding: 0.4em;
    margin: 0.5em;
    width: 8em;
    text-align: center;
    justify-self: center; 
    border-radius: .4rem;   
}
.form-group {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "title  field";
    padding: .25em;
  } 
  
  .client-label {
    grid-area: title;
    min-width: 5em;
    
  }
  .form-control {
    grid-area: field;
  }