.formContainer1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
    grid-template-areas: 
     "two "
     "three"
     "four"
     "five"
     "six";
     justify-content: center;
}

.first {
    grid-area: two;
}
.last {
    grid-area: three;
}
.email {
    grid-area: four;
}
.phone {
    grid-area: five;
}
.btn-primary {
    grid-area: six;
    padding: 0.4em;
    margin: 0.5em;
    width: 8em;
    text-align: center;
    justify-self: center;    
}
.form-group {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "one two";
    padding: .25em;
  }
  
  label {
    grid-area: one;
  }
  input {
    grid-area: two;
  }