.nameButtons {
  border-radius: 0;
  background: #ccc;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background-image: radial-gradient( circle 788px at 0.7% 3.4%,  rgba(164,231,192,1) 0%, rgba(255,255,255,1) 90% );  
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  min-width: 13.5em;
  padding: .5em;
  font-family: inherit;
  cursor: pointer;
  margin: .3em;
}

.nameButtons:hover {
  background-image: radial-gradient( circle farthest-corner at -1% 57.5%,  rgba(19,170,82,1) 0%, rgba(0,102,43,1) 90% );    
  
  color: #fff;
  }
  
.nameButtons:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }

.clientName-card, .nameButtons {
  font-family: 'Raleway', sans-serif;

}