.clientCard {
    margin: .5em;
    padding: .2em;
    min-width: 14em; 
    align-content: center;
}

.client__name {
    margin: .2em
}

.clientCardButtons {
    all: revert;
    border-radius: .25rem;
    border: none;
    background-image: radial-gradient( circle 788px at 0.7% 3.4%,  rgba(164,231,192,1) 0%, rgba(255,255,255,1) 90% );  

    text-align: center;
    padding: .7em;
    padding-left: 1em;
    width: 100%;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    font-family: inherit; 
    line-height: 1.2em; 
}
  .clientCardButtons .cardContents {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .clientCardButtons .cardContents:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .clientCardButtons:hover .cardContents {
    padding-right: 25px;
  }
  .clientCardButtons:hover .cardContents:after {
    opacity: 1;
    right: 0;
  }


