.header {
  display: flex;
  height: 25vh;
}

.header {
  display: grid;
  grid-template-columns: auto 80% ;
  grid-template-rows: auto;
  grid-template-areas: "one two ";
  background:  rgba(255,204,153,1);
}

.cursive {
  font-family: 'Beth Ellen', cursive;
}
.header-logo {
  grid-area: one;
}
.header-title {
  margin-top: 2em;
  font-size: xxx-large;
  grid-area: two;
}


