.cursive {
  font-family: 'Beth Ellen', cursive;
}

.page--header {
  display: grid;
  grid-template-columns: 11% auto auto;
  grid-template-rows: auto;
  grid-template-areas: "logo title ."; 
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(62,133,238,1) 1.1%, rgba(227,137,240,1) 43.7%, rgba(243,193,124,1) 89.7% );
  height: 22vh;

}


.hairLogo-container {
  grid-area: logo;
  margin-top: 1em;

}

.header-title {
  grid-area: title;
  font-size: xxx-large;
  margin-top: 1.8em;
  /* text-align: left;
  padding-top: .7em;
  padding-left: 6em; */
}



