header {
  display: flex;
  height: 25vh;
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "one two three";

  background:  rgba(255,204,153,1);
}

.cursive {
  font-family: 'Beth Ellen', cursive;
}
.header-logo {
  grid-area: one;
}
.header-title {
  font-size: xxx-large;
  grid-area: two;
}
.header-nav {
  grid-area: three;
}