.home-flex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "message"
        "list";

    align-content: center;
    justify-items: center;
    font-size: 25px;
}

.message {
    grid-area: message;
    font-size: 40px;

}
.flex-home {
    grid-area: list;
    padding: .5em;
}
.flex-home > div, li {
    padding: .3em;
}