.home-flex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "message"
        "list";

    align-content: center;
    justify-items: center;
}

.message {
    grid-area: message;
}
.flex-home {
    grid-area: list;
}