#sidebar-right {
    height: 100%;
    overflow: auto;
  }
  
  #sidebar-right {
    background:rgb(248, 191, 92);
    width: 100%;
  }
  
  #content {
    background:rgb(248, 191, 92);
    width: 100%;
  }
  
  .logo-container { 
    background:rgb(248, 191, 92);
    position: absolute;
    
  }