#sidebar-right, #content {
    height: 100%;
    overflow: auto;
    float: right;
  }
  
  #sidebar-right {
    background:white;
    width: 100%;
  }
  
  #content {
    background:rgb(248, 191, 92);
    width: 100%;
  }
  
  .logo-container { 
    position: absolute;
    bottom: 2em;
  }