#sidebar-right {
    height: 100%;
    overflow: auto;
  }
  
  #sidebar-right {
    background:rgba(255,204,153,1);
    width: 100%;
  }
  
  #content {
    background:rgba(255,204,153,1);
    width: 100%;
  }
  
  .logo-container { 
    background:rgba(255,204,153,1);
    position: absolute;
    
  }