#mySidenav .sidenavButton {
    position: absolute; /* Position them relative to the browser window */
    left: -6.5em; 
    /* Position them outside of the screen */
    transition: 0.5s; /* Add transition on hover */
    padding: 1em; 
    width: 10em;
    height: 3.5em;
    font-size: 1.25em; 
    color: black; 
    border-radius: .75em; /* Rounded corners on the top right and bottom right side */
    border: none;
    text-align: right;
  }
  
  #mySidenav .sidenavButton:hover {
    left: 0;
    cursor: pointer; /* On mouse-over, make the elements appear as they should */
  }

  #search {
    top: 14em;
    background-image: radial-gradient( circle 673px at 10% 20%,  rgba(255,220,163,1) 0%, rgba(129,255,239,1) 48.5%, rgba(139,172,251,1) 97.8% );  }

  #addClient {
    top: 18em;
    background-image: radial-gradient( circle 673px at 10% 20%,  rgba(255,220,163,1) 0%, rgba(129,255,239,1) 48.5%, rgba(139,172,251,1) 97.8% );    
  }
  
  #addVisit {
    top: 22em;
    background-image: radial-gradient( circle 673px at 10% 20%,  rgba(255,220,163,1) 0%, rgba(129,255,239,1) 48.5%, rgba(139,172,251,1) 97.8% );  }

  #clientBook {
    top: 26em;
    background-image: radial-gradient( circle 673px at 10% 20%,  rgba(255,220,163,1) 0%, rgba(129,255,239,1) 48.5%, rgba(139,172,251,1) 97.8% );  }
  

  /* #clientBook, #addVisit, #addClient, #search, .btn-grad {background-image: linear-gradient(to right, #44A08D 0%, #093637  51%, #44A08D  100%)}
  .btn-grad {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }

   #clientBook:hover, #addVisit:hover, #addClient:hover, #search:hover, .btn-grad:hover {
     background-position: right center; /* change the direction of the change here */
     /* color: #fff;
     text-decoration: none;
   } */
   /* */ 


   #clientBook, #addVisit, #addClient, #search, .btn-grad {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
   #clientBook, #addVisit, #addClient, #search, .btn-grad {
      margin: 10px;
      padding: 15px 45px;
      text-align: center;
      /* text-transform: uppercase; */
      transition: 0.5s;
      background-size: 200% auto;
      /* color: white;             */
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
    }

    #clientBook:hover, #addVisit:hover, #addClient:hover, #search:hover, .btn-grad:hover {
      background-position: right center; /* change the direction of the change here */
      /* color: #fff; */
      text-decoration: none;
    }
   

    
    
    
    
    
    
  