#mySidenav .sidenavButton {
    position: absolute; /* Position them relative to the browser window */
    left: -6.5em; 
    /* Position them outside of the screen */
    transition: 0.5s; /* Add transition on hover */
    padding: 1em; 
    width: 10em;
    height: 3.5em;
    font-size: 1.25em; 
    color: black; 
    text-align: right;
  }
  
  #mySidenav .sidenavButton:hover {
    left: 0;
    cursor: pointer; /* On mouse-over, make the elements appear as they should */
  }

  #search {
    top: 14em;
  }

  #addClient {
    top: 18em;    
  }
  
  #addVisit {
    top: 22em; 
  }

  #clientBook {
    top: 26em;
  }
  


   #clientBook, #addVisit, #addClient, #search {background-image: linear-gradient(to right, #ADD100 0%, #7B920A  51%, #ADD100  100%)}
   #clientBook, #addVisit, #addClient, #search, .btn-grad {
      margin: 10px;
      padding: 15px 45px;
      text-align: center;
      transition: 0.5s;
      background-size: 200% auto;
      box-shadow: 0 0 10px white;
      border-radius: 15px;
      display: block;
    }

    #clientBook:hover, #addVisit:hover, #addClient:hover, #search:hover {
      background-position: right center; /* change the direction of the change here */
      text-decoration: none;
    }
   

    
    
    
    
    
    
  