body {
    margin: 0;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 10em;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}
#root > header {
  display: grid;
  grid-template-columns: 1fr 1fr 60%;
  grid-template-rows: 1fr;
  grid-area: "header";
  
}


