html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: 130px auto 220px;
  grid-gap: 1em;
  padding-bottom: 60px;

}

.page--header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 100%) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

body {
  margin: 0 auto;
  max-width: 100%;
  padding: 1em 0;
}

article {
  padding: 1em;
}

aside, article {
  background: #eaeaea;
  align-items: center;
  justify-content: center;
  height: 65vh;
  overflow: scroll;
}

footer{
  background: #eaeaea;
  align-items: center;
  justify-content: center;
  height: 3.5vh;
}

fieldset, input {
  border-radius: .3em;
}

